header {
  background-color: var(--color-green-300);
  color: var(--text-color);
  padding: var(--space-2) var(--space-5);
}

.header-title {
  gap: var(--space-2);
}

.header-user img {
  width: 50px;
  height: auto;
}
